*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
    color: rgb(73, 187, 240);
    background-color: rgb(255, 255, 250);
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
    display: flex;
    height: 5rem;
    align-items: center;
    text-align: center;
    box-shadow: .5px .5px 1px rgb(73, 187, 240);
    margin-bottom: 2rem;
}
header h1{
    flex: 1.2;
    cursor: pointer;
}
header nav{
    flex: 1.5;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
header nav ul li{
    flex: 1;
}
header nav ul li a{
    color: rgb(50, 127, 163);
    text-decoration: none;
}

header nav ul li a:hover{
    color: rgb(141, 203, 231);
}
/* Header end */

.container{
    display: flex;
    /* justify-content: space-between; */
}
.side-left{
    flex: .6;
}
.side-right{
    flex: .8;
}
aside{
    padding: 1rem;
    text-align: center;
}
aside h2, aside h3{
    margin-bottom: 1rem;
}

aside .sidebox{
    margin-bottom: 1rem;
}

.side-left a{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: .9rem;
}
.side-left img{
    margin-right: .4rem;
}
.sidebox a{
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
    font-size: .9rem;
}
.sidebox a:hover{
    color: rgb(141, 203, 231);
}

.sidebox a img{
    width: 100%;
}

main{
    flex:1.9;
    padding: 1rem 2rem;
}

main img{
    float: left;
    margin-right: 1rem;
}
main h2{
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    height: 4rem;
    color: rgb(230, 247, 255);
    background-color: rgb(73, 187, 240);
}

@media (max-width:786px) {
    .container{
        flex-direction: column-reverse;
    }
    main{
        order: 1;
    }
    aside .side-left{
        order:3;
    }
    
    aside .side-right{
        order:2;
    }
    .side-right img{
        width: 50%;
    }
}
@media (max-width:500px){
    header nav{
        display: none;
    }
}



















