* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  min-width: 765px;
}
nav {
  display: flex;
  margin: auto;
  position: relative;
  box-shadow: 1px 1px rgba(77, 75, 75, 0.349);
  margin-bottom: 20px;
}
.logo {
  flex: 1;
  padding-left: 20px;
}

.menu {
  display: flex;
  align-items: stretch;
  flex: 1.4;
}
.menu ul {
  flex: 1;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.menu ul li {
  flex: 1;
  margin: auto 10px;
}
.menu ul li a {
  display: inline-block;
  padding: 5px;
}
.logo a {
  font-size: 50px;
  font-weight: bold;
}
