html,body{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ddd;
	font-family: Helvetica, arial, sans-serif;
	font-size: 18px;
}

.container{
	display: grid;
}

.header{
	display: grid;
	grid-template-areas: 
	"head head menu";
	background-color: blue;
	justify-items: space-between;
	align-content: center;
}

.header__head{
	grid-area: head;
	/*height: 60px;*/
}

.header__head h1{
	color: white;
}
.header__menu{
	grid-area: menu;
}

.header__menu ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}

.header__menu ul li a{
	text-decoration: none;
	color: salmon;
}