*{
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	grid-gap: 10px;
}

body{
	border: #ddd;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 50px;
}

.header{
	display: grid;
	grid-template-areas:
		"hero hero feature-1"
		"hero hero feature-2";
}

.hero{
	grid-area: hero;
	min-height: 300px;
	padding: 50px;
	background-color: #999;
}

.hero > *{
	display: none;
}

.features{
	background-color: #000;
	color: #fff;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	cursor: pointer;
}

.feature-1{
	grid-area: feature-1;

}

.price{
	font-style: 3em;
	font-weight: 200;
}


.feature-2{
	grid-area: feature-2;
}



.menu{
	order: -1;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.menu .brand{
	font-size: 1.3em;
	color: #333;
}

.menu ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 5px;
}

.menu a{
	display: block;
	background-color: #333;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 0.9em;
}




/*responsive breakpoints*/

@media(max-width: 1024px){
	.menu{
		order: inherit;
		grid-template-columns: 1fr;

	}
	.menu .brand{display: none;}
	.hero>*{
		display: block;
		color: white;
		padding: 5px;
		margin-bottom: 5px;
	}
	.hero{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}

}

@media screen and(max-width: 768px){
	
}

@media screen and(max-width: 500px){
	
}





















